<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 系统名称 -->
    <add key="SoftwareName" value="GGTalk2022"/>
	  
	<!--ESFramework服务器心跳超时 （S）-->
	<add key="HeartbeatTimeoutInSecs" value="30"/>
    <!--ESFramework服务器监听的端口-->
    <add key="Port" value="4530"/>
    <!--OMCS服务器监听的端口-->
    <add key="OmcsPort" value="9900"/>
    <!-- 预加载数据 -->
    <add key="PreLoadData" value="true"/>

    
    <add key="UseVirtualDB" value="true"/>    
    <!--数据库类型：MySql、SqlServer -->
	<add key="DBType" value="MySql" />
	<add key="DBName" value="GGTalk" />
	<add key="DBIP" value="192.168.0.115" />
	<add key="DBPort" value="9810" />
	<!--数据库登录账号：SqlServer 默认 sa ;MySQL 默认root ;DM默认 SYSDBA-->
	<add key="DBUserID" value="sa"/>
	<add key="DBPwd" value="GGTalk2020abc" />

    <!--管理员账号列表（英文逗号","分隔）  10001，10002-->
    <add key="AdminUserIDList" value="10000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

</configuration>
