<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--ESFramework服务器IP -->
		<add key="ServerIP" value="127.0.0.1"/>
		<!--ESFramework服务器端口-->
		<add key="ServerPort" value="4530"/>
		<!--用户注册Remoting服务端口-->
		<add key="RemotingPort" value="4500"/>
		<!--OMCS服务器端口-->
		<add key="OmcsServerPort" value="9900"/>
		<!--摄像头所使用的采集分辨率的宽高之和-->
		<add key="VideoSizeSum" value="700"/>
		<!-- 系统名称 -->
		<add key="SoftwareName" value="GGTalk 2022"/>
		<add key="CompanyUrl" value="https://www.cnblogs.com/justnow"/>
		<add key="P2PEnabled" value="true"/>
	</appSettings>
</configuration>